.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

input#header-search {
  position: relative;
  top: 4rem;

  margin-top: 35px;
  padding: 5px 10px;
  height: 40px;
  padding-left: 5px;
  font-size: 15px;
  width: 50%;
}
