.App {
  margin-top: 0px;
  min-height: 100vh;
  text-align: center;
  background-color: black;
  scroll-behavior: smooth;
}

@media (max-width: 70px) {
  .App {
    padding-top: 70px;
  }
}
